<form class="lot-form" method="post"
    action="{{ '/api/lots/create_lot' if mode == 'create' else '/api/lots/update_lot' }}">
    <p class="modal-title">新規ロット登録</p>
    <div class="lot-form__field">
        <label for="lot_id">ロットID</label>
        {% if mode == 'create' %}
        <input type="text" id="lot_id" name="lot_id" value="" required>
        {% else %}
        <input type="text" id="lot_id" name="lot_id" value="{{ lot.lot_id }}" readonly>
        {% endif %}
    </div>

    <div class="lot-form__field">
        <label for="farm">農場</label>
        <input type="text" id="farm" name="farm" value="{{ lot.farm if lot else '' }}" required>
    </div>

    <div class="lot-form__field">
        <label for="house">ハウス</label>
        <input id="house" name="house" type="text" value="{{ lot.house if lot else '' }}" required>
    </div>

    <div class="lot-form__field">
        <label for="crops">栽培作物</label>
        <input id="crops" name="crops" type="text" value="{{ lot.crops if lot and lot.crops else '' }}">
    </div>

    <div class="lot-form__field">
        <label for="plant_counts">栽培本数</label>
        <input id="plant_counts" name="plant_counts" type="text" value="{{ lot.plant_counts if lot and lot.plant_counts else '' }}">
    </div>

    <div class="lot-form__action">
        <button type="submit">{{ '保存' if mode == 'create' else '更新' }}</button>
        <button type="button" onclick="document.getElementById('lot-add-dialog').close()">閉じる</button>
    </div>
</form>