/* ============================
   戻るボタン
============================ */
.back-btn {
    -webkit-tap-highlight-color: transparent;
    height: 60px;
    width: 180px;
    border: none;
    border-radius: 8px;

    font-weight: 600;
    font-size: 24px;
    background-color: mediumseagreen;
    color: white;

    box-shadow: none;
    outline: none;
    appearance: none;
}

.back-btn:active {
    background-color: darkgreen;
}



/* ============================
   ロットモーダル
============================ */
.modal-title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin: 10px 0 20px;
}

.lot-form__field {
    margin-bottom: 14px;
}

.lot-form__field label {
    display: block;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 0;
}

.lot-form__field input {
    width: 100%;
    padding: 10px 10px;
    font-weight: 600;
    font-size: 22px;

    border: 4px solid gray;
    border-radius: 10px;
    box-sizing: border-box;

    background-color: white;
    -webkit-tap-highlight-color: transparent;
}

.lot-form__field input:focus {
    border-color: mediumseagreen;
    outline: none;
}

.lot-form__action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin: 28px 30px 20px;
}

.lot-form__action button {
    padding: 10px 14px;
    border: none;
    border-radius: 10px;

    font-size: 28px;
    font-weight: 600;
    color: white;

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.lot-form__action button[type="submit"] {
    background-color: mediumseagreen;
}

.lot-form__action button[type="submit"]:active {
    background-color: darkgreen;
}

.lot-form__action button[type="button"] {
    background-color: red;
}

.lot-form__action button[type="button"]:active {
    background-color: darkred;
}