/* ============================
   ページタイトル
============================ */
.page-title {
    text-align: center;
    margin: 16px 0 16px;

    font-weight: 700;
    font-size: 36px;
}



hr {
    width: 75%;
}



/* ============================
   ロットリスト
============================ */
.lot-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    /* flex-direction: column;
    align-items: center; */
    margin: 24px auto 100px;
    justify-content: center;
    padding: 0;

    gap: 16px;
}



/* ============================
   ロットカード
============================ */
.lot-card {
    border: 5px solid mediumseagreen;
    border-radius: 16px;
    padding: 12px;
    background-color: mintcream;
    position: relative;
    width: 100%;
    /* max-width: 360px; */
    box-sizing: border-box;
    margin: 0 auto;
}



/* ============================
   編集ボタン
============================ */
.lot-card__header {
    display: flex;
    justify-content: flex-end;
}

.lot-card__edit-btn {
    -webkit-tap-highlight-color: transparent;
    background-color: green;
    font-weight: 500;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

.lot-card__edit-btn:active {
    background-color: darkgreen;
}


/* ============================
   ロット基本情報
============================ */
.lot-card__body p {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    color: #333;
    /* line-height: 1.4; */
}

.lot-card__body .lot-card__id {
    font-weight: 700;
    font-size: 34px;
    margin-top: 4px;
    color: black;
}



/* ============================
   ボタン部
============================ */
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 12px;
}

.buttons a {
    -webkit-tap-highlight-color: transparent;
    flex: 1;
    display: inline-block;
    text-align: center;
    padding: 10px 8px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 22px;
}

.buttons__show-btn {
    background-color: mediumseagreen;
}

.buttons__show-btn:active {
    background-color: darkgreen;
}

.buttons__write-btn {
    background-color: #0099a8;
}

.buttons__write-btn:active {
    background-color: darkblue;
}



/* ============================
   ロット追加ボタン
============================ */
.lot-add-btn {
    -webkit-tap-highlight-color: transparent;
    position: fixed;
    bottom: 20px;
    right: 14px;

    width: 70px;
    height: 70px;
    border-radius: 50%;

    background-color: mediumseagreen;
    color: white;
    font-weight: 600;
    font-size: 34px;
    line-height: 60px;
    text-align: center;

    border: 3px solid white;
    cursor: pointer;
}

.lot-add-btn:active {
    background-color: darkgreen;
}



/* ============================
   ロットメッセージ
============================ */
.lot-message {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-top: 200px;
}



/* ============================
   ロットモーダル
============================ */
#lot-add-dialog {
    width: 80%;
    max-width: 320px;
    border: 5px solid mediumseagreen;
    border-radius: 40px;
}

#lot-add-dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
}

.modal-title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin: 10px 0 20px;
}

.lot-form__field {
    margin-bottom: 14px;
}

.lot-form__field label {
    display: block;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 0;
}

.lot-form__field input {
    width: 100%;
    padding: 10px 10px;
    font-weight: 600;
    font-size: 22px;

    border: 4px solid gray;
    border-radius: 10px;
    box-sizing: border-box;

    background-color: white;
    -webkit-tap-highlight-color: transparent;
}

.lot-form__field input:focus {
    border-color: mediumseagreen;
    outline: none;
}

.lot-form__action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin: 28px 30px 20px;
}

.lot-form__action button {
    padding: 10px 14px;
    border: none;
    border-radius: 10px;

    font-size: 28px;
    font-weight: 600;
    color: white;

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.lot-form__action button[type="submit"] {
    background-color: mediumseagreen;
}

.lot-form__action button[type="submit"]:active {
    background-color: darkgreen;
}

.lot-form__action button[type="button"] {
    background-color: red;
}

.lot-form__action button[type="button"]:active {
    background-color: darkred;
}