.page-title {
    margin: 0;

    font-weight: 600;
    font-size: 30px;
}



hr {
    width: 75%;
}



.lot-card {
    display: flex;
    flex-direction: column;
    margin: 10px 0 10px;

    /* height: ; */
    width: 70%;
    border-radius: 12px;
    border: 3px solid mediumseagreen;
}

.lot-card__edit-btn {
    height: 30px;
    width: 70px;
}