/* ============================
   日報基本情報
============================ */
.detail-report__report-information {
    display: flex;
    flex-direction: column;
    margin: 30px auto 30px;
    width: 85%;
    max-width: 800px;

    padding: 10px 20px;

    border: 4px solid mediumseagreen;
    border-radius: 10px;

    gap: 6px;
}

.detail-report__report-information p {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
}



/* ============================
   AIまとめ
============================ */
.detail-report__ai-summary {
    display: flex;
    flex-direction: column;
    margin: 0 auto 30px;
    width: 90%;
    max-width: 850px;
}

.detail-report__ai-summary label{
    font-weight: 600;
    font-size: 22px;
}

.detail-report__ai-summary textarea {
    border: 4px solid gray;
    border-radius: 10px;
    padding: 10px;
    height: auto;
    min-height: 200px;
    /* white-space: pre-wrap; */

    font-weight: 500;
    font-size: 20px;
    color: #333;

    box-shadow: none;
    outline: none;
}

.detail-report__message {
    text-align: center;
    font-weight: 600;
    font-size: 26px;
    margin-top: 200px;
}



hr {
    width: 75%;
    min-width: 360px;
}



/* ============================
   簡易表示日報
============================ */
.reports {
    display: flex;
    margin: 30px auto 30px;
    flex-direction: column;
    justify-content: center;

    gap: 6px;
}

.report-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    border: 3px solid darkgray;
    margin: 0 auto 0;
    border-radius: 12px;

    width: 60%;
    min-width: 300px;
}

.report-card__date {
    font-weight: 600;
    font-size: 18px;
}

.report-card__btn {
    -webkit-tap-highlight-color: transparent;
    background-color: mediumseagreen;
    border: none;
    border-radius: 8px;
    padding: 6px 10px;
    right: 10px;

    font-weight: 600;
    font-size: 20px;
    color: white;

    text-decoration: none;
}

.report-card__btn:focus {
    background-color: darkgreen;
}

.reports__message {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}