<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>日報登録</title>

    <!-- css -->
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/create_report_form.css">
</head>

<body>
    <form method="get" action="/api/lots/get_all">
        <button type="submit" class="back-btn">ロット一覧へ</button>
    </form>

    <div class="date">
        <p>{{ display_date }}</p>
    </div>

    <div class="basic-information">
        <p class="basic-information__id">{{ lot_id }}</p>
        <p class="basic-information__farm-and-house">{{ lot_information.farm }} / {{ lot_information.house }}</p>
        <p class="basic-information__plant-counts">定植本数：{{ lot_information.plant_counts }}本</p>
    </div>

    <div class="worker-input">
        <form method="post" action="{% if existing_report %}
                    /api/reports/update_report/{{ lot_id }}?date={{ date }}
                {% else %}
                    /api/reports/create_report/{{ lot_id }}?date={{ date }}
                {% endif %}">

            <div class="slider">
                <div class="slider__plant-status">
                    <label for="plant_status">植物の状態</label>
                    <div class="slider__row">
                        <span>悪</span>
                        <input type="range" name="plant_status" min="1" max="5" required>
                        <span>良</span>
                    </div>
                </div>

                <div class="slider__pests">
                    <label for="pests_and_diseases_status">病害虫の状況</label>
                    <div class="slider__row">
                        <span>悪</span>
                        <input type="range" name="pests_and_diseases_status" min="1" max="5" required>
                        <span>良</span>
                    </div>
                </div>
            </div>

            <div class="comment-area">
                <label for="comment">コメント</label>
                <textarea name="comment" id="comment" class="comment" cols="200" placeholder="200文字まで" required>
{{ existing_report.comment if existing_report else "" }}</textarea>
            </div>

            <div class="submit-area">
                <button type="submit">保存</button>
            </div>

        </form>

    </div>

</body>

</html>