<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ロット一覧</title>

    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
</head>

<body>
    <h1>ロット一覧</h1>

    {% if lots %}
    <div>
        {% for lot in lots %}
        <div style="border: 1px solid #ccc; padding: 8px; margin-bottom: 8px;">
            <button
                hx-get="/api/lots/edit-form/{{ lot.lot_id }}"
                hx-target="#lot-add-dialog-content"
                hx-swap="innerHTML"
                value="lot-edit-btn">編集
            </button>

            <h2>{{ lot.lot_id }}</h2>
            <p>{{ lot.farm or '-' }} / {{ lot.house or '-'}}</p>
            <p>栽培作物: {{ lot.crops or '未設定' }}</p>
            <p>栽培品種: {{ lot.variety or '未設定' }}</p>

            <a href="/api/reports/get_reports/{{ lot.lot_id }}">日報を見る</a>
            <a href="/api/reports/create_report_form/{{ lot.lot_id }}">日報を書く</a>
        </div>
        {% endfor %}
        {% else %}
        <p>ロットが登録されていません</p>
        {% endif %}
    </div>

    <button hx-get="/api/lots/add-form" hx-target="#lot-add-dialog-content" hx-swap="innerHTML" class="lot-add-btn">
        ＋
    </button>

    <dialog id="lot-add-dialog">
        <div id="lot-add-dialog-content" _="
                on htmx:afterSwap
                    call #lot-add-dialog.showModal()
                end
            ">
        </div>
    </dialog>

</body>

</html>