<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>レポート一覧</title>

    <!-- css -->
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/report_list.css">
</head>

<body>
    <!-- ロット一覧へ戻るボタン -->
    <form method="get" action="/api/lots/get_all" class="back_btn_form">
        <button type="submit" class="back-btn">ロット一覧へ</button>
    </form>

    <!-- 詳細表示 -->
    {% if detail_report %}
    <div class="detail-report">
        <div class="detail-report__report-information">
            <p>ロット：{{ lot_id }}</p>
            <p>年月日：{{ detail_report.date }}</p>
        </div>
        <!-- <p>コメント: {{ detail_report.comment or 'コメントなし' }}</p> -->
        <div class="detail-report__ai-summary">
            <label for="ai-summary-text">AIまとめ</label>
            <textarea name="ai-summary-text" readonly>{{ detail_report.ai_summary or 'AI要約はありません' }}</textarea>

        </div>
    </div>
    {% else %}
    <p class="detail-report__message">日報が未登録です</p>
    {% endif %}

    <hr>

    <!-- 簡易表示 -->
    <div class="reports">
        {% if reports and reports|length > 0 %}
        <div class="report_grid">
            {% for it in reports %}
            <div class="report-card">
                <span class="report-card__date">{{ it.date }}</span>
                <a class="report-card__btn" href="/api/reports/get_reports/{{ it.lot_id }}?date={{ it.date }}">
                    見る
                </a>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="reports__message">他の日報はありません</p>
        {% endif %}
    </div>

</body>

</html>